<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>810099783534-ok3tr3787hifo7hfigq61ieiq26rdsrp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.810099783534-ok3tr3787hifo7hfigq61ieiq26rdsrp</string>
	<key>API_KEY</key>
	<string>AIzaSyDaF4N39DvLV-pwPbAE9uCVZroszXoUn9U</string>
	<key>GCM_SENDER_ID</key>
	<string>810099783534</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.SwiftText</string>
	<key>PROJECT_ID</key>
	<string>swifttext-6102d</string>
	<key>STORAGE_BUCKET</key>
	<string>swifttext-6102d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:810099783534:ios:88a4f436127235417e737f</string>
</dict>
</plist>